
html {
  font-size: 16px;
}

body {
  background: #000000;
  color: #c2c2c2;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  width: 425px;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  display: flex;
  padding:  3.5rem 0 0 0;

}

@gratio: 1.61803398875;

.sectionForm {
  display: flex;
}

.selector {
  margin: 1rem 0 0 0;
}


.loadCircle {
  display: none;
}


.hidden {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.newsSpot {
  display: flex;
  width: 11em;
  height: 17em;
}


footer {
  display: flex;
  justify-content: center;
  padding:  5.5rem 0 0 0;
}




